@{
    ViewData["Title"] = "Home Page";
}





<div class="about-text cont">
    <h3 class="myheader3 clr-green">About myself</h3>
    <p class="p-3 clr-green">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Integer dignissim vehicula dolor sed porttitor. Integer dapibus 
    eleifend leo nec posuere. Suspendisse eu lectus ipsum. Suspendisse 
    condimentum felis quam, sed luctus ex consequat nec. Ut vehicula 
    ipsum nulla, eu blandit mauris semper et. Quisque posuere tincidunt 
    sem et vestibulum. Vestibulum vehicula ornare ante, id tempus erat 
    sagittis sit amet. Cras vulputate nulla eget leo condimentum suscipit. 
    Curabitur sit amet porta tortor. Integer a imperdiet mi. Suspendisse potenti.
    Suspendisse ornare neque massa, sed iaculis sem laoreet ac.
    </p>
</div>
