@{ 
}

<div class="cont">
    <h3 class="myheader3 clr-green">BillSplitter</h3>
    <div class="cont">
        <button id="btnLower" class="btn mybtn link-btn mybg-dark" onclick="ChangeValue(-1)">-</button>
        <label id="lblQty" class="clr-green">2</label>
        <button id="btnRaise" class="btn mybtn link-btn mybg-dark" onclick="ChangeValue(1)">+</button>
    </div>
</div>
<script src="~/js/BillSplitter.js"></script>